<div class="card">
  <div class="row mt-4">
    <div class="col-md-8">
      <div class="form-group">
        <h2>Producto:</h2>
        <select (change)="productoId($event)" class="form-control" id="exampleFormControlSelect2"
          formControlName="productoTrabajo">
          <option selected>Seleccione el producto de trabajo o documento</option>
          <option *ngFor="let producto of lstProductos" value="{{producto.id}}">{{producto.producto}}</option>
        </select>
        <hr />
      </div>
    </div>


    <div class="centrado">

      <div class="form-group">
        <form [formGroup]="formModal" (submit)="guardarProductoPregunta()">
          <h2>Preguntas:</h2>
          <h4 *ngFor="let pregunta of lstPreguntas">{{pregunta.pregunta}}
            <div class="check" style="margin-right: 2rem;">
              <input type="checkbox" (change)="idChecksPreguntas(pregunta.id,$event)" name="ch1" id="check" />
            </div>
          </h4>
          <div class="col-md-8 my-4 d-flex justify-content-center">
            <button class="btn btn-success">Guardar</button>
          </div>
          <!-- value="{{pregunta.id}}" -->
        </form>
      </div>
    </div>
  </div>
</div>